.chat-container {
    width: 90%;
    height: 85%;
    border: 1px solid #ccc;
    overflow: hidden;
    position: relative;
    margin-top: 5%;
  }
   
  .message-container {
    height: 85%;
    overflow-y: scroll;
    border: 1px solid #ccc;
    padding: 10px;
  }
  .message {
    width: 80%;
    border-bottom: 1px solid #eee;
  }
  .input{
    width: 100%;
  }
  .btn {
    width: 100%;
  }
   