<div class="process-step" #canvasContent (click)="openModal()">
    <i class="bi bi-terminal" width="16" height="16" fill="currentColor"></i>
    <span>{{ data.name }}</span>
    <i class="bi bi-x-circle-fill close-icon" (click)="delete()"></i>
</div>


<div *ngIf="showModal" class = "popup-modal">
    <div class="modal-content">
        <i class="bi bi-x-circle-fill close-icon" (click)="closeModal()"></i>
        <div class="mb-3">
            <label class="form-label">Step Name</label>
            <input type="text" class="form-control" [(ngModel)]="data.name" />
        </div>
        <div class="mb-3">
            <label class="form-label">Python Script</label>
            <!--<textarea type="text" class="form-control" placeholder="This is the code area." [(ngModel)]="data.pythonCode" ></textarea> -->
            <ngx-codemirror [(ngModel)]="data.pythonCode" [options]="{lineNumbers: false, theme: 'material', mode: 'python'}"></ngx-codemirror>
        </div>
        
        <button (click)="closeModal()">save</button>
    </div>
</div>



