<div *ngIf="selectedHero">

    <div><span>id: </span>{{selectedHero.id}}</div>
    <div><span>name: </span>{{selectedHero.name | uppercase}}</div>

    <div>
        <label for="name">Selected Hero name: </label>
        <input id="name" [(ngModel)]="selectedHero.name" placeholder="name">
    </div>

</div>


<h2>The Heroes</h2>
<div class="btn-group-vertical" role="group" aria-label="Basic example">
    <button *ngFor="let hero of heroes" type="button" (click)="onSelect(hero)" class="btn btn-primary">
        <span class="badge">{{hero.id}}</span>
        <span class="name">{{hero.name}}</span>
    </button>
</div>