<p>comp1 works!</p>
<a routerLink="/component_2" routerLinkActive="active" ariaCurrentWhenActive="page">Go to Comp2.</a>
<p><button type="button" class="btn btn-primary" (click)="showConfig()">Get config content</button></p>


<span *ngIf="config">
    <p>Heroes API URL is "{{config.heroesUrl}}"</p>
    <p>Textfile URL is "{{config.textfile}}"</p>
    <p>Date is "{{config.date}}"</p>
</span>

<!--
<span *ngIf="discovery">
    <p>code: "{{discovery.code}}"</p>
    <p>message: "{{discovery.message}}"</p>
</span>
-->